<div *ngIf="!rainByTheMinute">
  <button (click)="processData()">Show 60 Minutes</button>
</div>
<div *ngIf="rainByTheMinute">
  <button (click)="processData()">Hide 60 Minutes</button>
</div>
<div *ngIf="rainByTheMinute">
  <h2>{{users.minutely.summary}}</h2>
  <div class="centertext" *ngIf="!hidelist">
    <ul>
      <li *ngFor="let data of minnutelyArray; let i = index">{{data.precipProbability * 100 | number : '1.2-2'}} &#37; chance of rain in {{i + 1}} minutes.</li>
    </ul>
  </div>
</div>