<div *ngIf="!rainByTheMinute">
  <button (click)="processData()">Show Rain Probability</button>
</div>
<div *ngIf="rainByTheMinute">
  <button (click)="processData()">Hide Rain Probability</button>
</div>
<div *ngIf="users">
  <h2>Current Temperature</h2> {{users.currently.temperature}} &#8457;
  <h4>Summary</h4> {{users.hourly.summary}} Wind speeds of {{users.currently.windSpeed}} MPH.
  <div *ngIf="users.alerts; else NoAlerts"> 
    <h2>Alerts</h2>{{users.alerts[0].title}}<br>{{users.alerts[0].severity}}
  </div>
  <ng-template #NoAlerts>
        <h2>No Alerts at this time</h2>
  </ng-template>
</div>

<div *ngIf="rainByTheMinute">
  <h2>8 Day Forecast</h2>
  <span *ngFor="let week of weeklyArray; let i = index">Day{{i + 1}} Hi: {{week.temperatureMax}}&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
  <span *ngFor="let week of weeklyArray; let i = index">Day{{i + 1}} Low: {{week.temperatureMin}}&nbsp;</span> 
  <ul>
    <li *ngFor="let hourly of hourlyArray; let i = index"><span *ngIf="hourly.precipProbability > 0; else nottraining">{{hourly.precipProbability * 100 | number: '1.0-0'}}&#37; of {{hourly.summary}} in {{i + 1}} hours.</span></li>
  </ul>
  <ng-template #nottraining>
  </ng-template>
  <h2 *ngIf="isNoRain">YES! No Rain today!</h2>
  <app-minute></app-minute>
</div>