.min ul li {
    display: inline-block;
    width: 12%; 
}

.center {
    width: 100%; 
    margin: 0 auto; 
}

.centertext ul li {
    margin: 0 auto; 
    width: 22%; 
}

.redalert {
    color: red;
    background-color: #ffffff; 
    width: 100%; 
    padding: 0; 
    margin: 0; 
}

.eightday {
    Color: slategray; 
    font-size: 1.3rem; 
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}
