ul {
    padding: 0;
    width: 100%;  
}

.red {
    color: red;
    text-shadow:
    -0.5px -0.5px 0 #ffffff,
    0.5px -0.5px 0 #ffffff,
    -0.5px 0.5px 0 #ffffff,
    0.5px 0.5px 0 #ffffff;
}

.min ul li {
    display: inline-block;
    width: auto;
}

.center {
    width: 100%; 
    margin: 0 auto; 
}

.centertext ul li {
    text-align: center; 
}

.redalert {
    color: red;
    background-color: #ffffff; 
    width: 100%; 
    padding: 0; 
    margin: 0; 
}

.eightday {
    Color: slategray; 
    font-size: 2rem; 
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

@media only screen and (max-width: 600px) {
    .min ul li {
        display: inline-block;
        /* width auto for ul li mobile device */
        width: auto; 
        margin: 0; 
        padding: 0; 
    }
    .centertext ul li {
        width: 100%; 
        padding: 0; 
        margin: 0; 
    }
}

