/* You can add global styles to this file, and also import other style files */
html, body {
    background-color: #ff823a; 
    color: #FFF; 
}

/* fix scroll bar overflow */
html, body {
    padding: 0; 
    margin: 0; 
}

button {
    border-radius: 95px; 
    background-color: #37a9ef;
    color: #FFF; 
    padding: 0.6%; 
    font-size: 1.3rem; 
    border-color: #fff; 
    border-width: 10px; 
}

ul li {
    list-style: none; 
    text-align: left; 
    /*margin: 0 auto; 
    width: 22%; */
}

button:active {
    background-color: #ff823a; 
}

.center {
    text-align: center; 
}

/*@media only screen and (max-width: 600px) {
    ul li {
        width: 100%; 
        text-align: center; 
    }   
}

@media only screen and (max-width: 1250px) {
    ul li {
        padding: 0; 
        text-align: left; 
        margin-left: -10%;
    }   
}*/
